body{
    background: #f5f5f5;
}
#M0011-1 .main{
    position: relative;
}
#M0011-1 .main .content{
    width: 610px;
    font-size: 26px;
    line-height: 40px;
    overflow: hidden;
    text-indent: 2em;
    color: #888;
    margin: 8px auto 0px;
}
#M0011-1 .main .button{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    background: #fff;
    margin-bottom: 10px;
}
.main .button>div{
    width: 428px;
    height: 74px;
    margin: 0 auto;
}
.main .button>div>a{
    display: block;
    text-decoration: none;
    color: #d7000f;
    font-size: 28px;
    width: 200px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    float: left;
    border-radius: 15px;
    border: 1px solid #d7000f;
    float: right;
}
.main .button>div>a:nth-child(1){
    background: #e50020;
    color: #fff;
}
.main .button>div>a:nth-child(2){
    margin-right: 20px;
}
#M0011-1 .main .order{
    width: 600px;
    height: 700px;
    background: #fff;
    border-radius: 10px;
    position:absolute;
    left: 50%;
    top:150px;
    margin-left: -300px;
    overflow: hidden;
    z-index: 10;
}
#M0011-1 .main .order>img{
    display: block;
    width: 40px;
    height: 40px;
    margin: 15px auto 35px;
}
#M0011-1 .main .order .order_content{
    width: 100%;
    height: 600px;
    overflow: hidden;
}
#M0011-1 .main .list{
    width: 540px;
    overflow: hidden;
    margin: 0px auto;
}
#M0011-1 .main .list>div{
    width: 100%;
    height: 50px;
}
#M0011-1 .main .list>div span,
#M0011-1 .main .list>div input,select{
    height: 40px;
    display: block;
    line-height: 40px;
    font-size: 24px;
    float: left;
    color: #888;
}
#M0011-1 .main .list>div select{
    height: 42px;
    width: 404px;
}
#M0011-1 .main .list>div span{
    width: 135px;
    color: #888;
}
#M0011-1 .main .list>div input{
    width: 400px;
}
#M0011-1 .main .list .name input{
    width: 200px;
}
#M0011-1 .main .list>div input[type='radio']{
    display: none;
}
#M0011-1 .main .list .name,.sex{
    float: left;
}
#M0011-1 .main .list .sex>div{
    float: left;
    margin-left: 15px;
    font-size: 16px;
    line-height: 40px;
    color: #888;
}
#M0011-1 .main .list .sex>div>img{
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -6px;
}
.car_list{
    width: 540px;
    overflow: hidden;
    margin: 10px auto;
    text-align: center;
}
.car_list .remind{
    color: #e50020;
    font-size:20px;
}
.main .second_title{
    color: #666666;
    width: 100%;
    height: 40px;
    border-top:1px solid #EDEDED ;
    border-bottom:1px solid #EDEDED ;
    overflow: hidden;
}
.second_title .name{
    color: #888;
    height: 40px;
    line-height: 40px;
    font-size:22px;
    float: left;
    margin-left: 15px;
}
.second_title .right_name{
    color: #e50020;
    line-height: 40px;
    margin-right:15px;
    font-size:22px;
    float: right;
}
#M0011-1 .main .list_carInfo{
    margin-top: 10px;
    height: 458px;
    margin: 0 auto;
    overflow: hidden;
}
#M0011-1 .main .list_carInfo>div>div{
    width: 100%;
    height: 108px;
    overflow: hidden;
    margin-top: 10px;
    padding-top: 15px;
    background: #cacaca;
    position: relative;
}
#M0011-1 .main .list_carInfo>div>div:nth-child(1){
    margin-top: 0px;
}
#M0011-1 .main .list_carInfo>div>div>div{
    width: 482px;
    margin-left:70px;
    overflow: hidden;
}
#M0011-1 .main .list_carInfo>div>div>div:nth-child(1)>span,
#M0011-1 .main .list_carInfo>div>div>div:nth-child(3)>span{
    display: block;
}
#M0011-1 .main .list_carInfo>div>div>div>span:nth-child(1){
    float: left;
}
#M0011-1 .main .list_carInfo>div>div>div>span:nth-child(2){
    float: right;
}
#M0011-1 .main .list_carInfo>div>div>div>span>i{
    font-style: normal;
}
#M0011-1 .main .list_carInfo>div>div>input{
    width: 26px;
    height: 26px;
    position: absolute;
    display: block;
    top:50%;
    left: 15px;
    margin-top: -15px;
}
#M0011-1 .main .list_carInfo>div>div>div:nth-child(1)>span:nth-child(1){
    color: #333;
    width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#M0011-1 .main .list_carInfo>div>div>div:nth-child(1)>span{
    font-size: 22px;
    height: 24px;
    line-height: 24px;
}
#M0011-1 .main .list_carInfo>div>div>div:nth-child(2){
    margin-top: 8px;
}
#M0011-1 .main .list_carInfo>div>div>div:nth-child(3){
    margin-top: 15px;
}
#M0011-1 .main .list_carInfo>div>div>div:nth-child(2)>span,
#M0011-1 .main .list_carInfo>div>div>div:nth-child(3)>span{
    height: 20px;
    font-size: 18px;
    line-height: 20px;
    color: #666;
}
#M0011-1 .main .list_carInfo>div>div>div:nth-child(2)>img{
    vertical-align: middle;
    height: 18px;
    float: left;
    margin-left: 5px;
 }
#M0011-1 .main .list_carInfo>div>div>div:nth-child(2)>span:nth-child(3){
    float: left;
    margin-left: 10px;
}
#M0011-1 .main .list_carInfo>div>div>div:nth-child(3)>span:nth-child(3){
    float: right;
}
#M0011-1 .main .list_carInfo>div>div>div:nth-child(3)>a{
    float: left;
    margin-left: 2px;
    text-decoration: none;
    color: #3879D9;
    font-size: 20px;
    line-height: 22px;
}
#M0011-1 .main .list_carInfo>div>div>div:nth-child(3)>a:hover{
    text-decoration: underline;
}
#M0011-1 .footer{
    margin-top: 0px;
}