*{
    margin: 0px;
    padding:0px;
}
html,body{
    width: 100%;
    height: 100%;
}
html{
    font-size: 100px;
}
body{
    font-size: 100px;
    overflow: hidden;
    font-family: "微软雅黑";
}
.wrap{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.clear:after{
    clear:both;
    content:'';
    display:block;
    width: 0;
    height: 0;
    visibility:hidden;
}
/*页面头部样式*/
.header{
    width: 100%;
    height: 0.87rem;
    border-bottom: 1px solid #d2d2d2;
    font-size: 0.30rem;
    text-align: center;
    line-height: 0.87rem;
    position: relative;
    background: #d7000f;
    position: fixed;
    top: 0px;
    z-index: 100;
}
.header>div{
    color:#fff;
}
.header>a{
    display:block;
    width: 1.09rem;
    height: 0.87rem;
    position: absolute;
    top:0;
    left: 0;
}
.header>a>img{
    display:block;
    width: 0.90rem;
    height: 0.63rem;
    overflow: hidden;
    position: absolute;
    top:0.10rem;
    left: 0.20rem;
}
.wrap .header .left>img{
    width:0.17rem;
    height: 0.29rem;
    display: block;
    margin-top: 0.20rem;
}
/*内容部分*/
.wrap .main{
    width: 100%;
    margin-top: 0.88rem;
    overflow: hidden;
    position: relative;
}
.wrap .main>img{
    width: 100%;
    height: 100%;
    display: block;
}
.wrap .main .content{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top:0px;
    z-index: 100;
}
.top{
    width: 100%;
    margin: 0px auto 0.2rem;
    overflow: hidden;
}
.top>a,
.top>div{
    float: left;
    display: block;
    font-size: 0.24rem;
    text-decoration: none;
    color: #333;
    height: 0.60rem;
    line-height: 0.60rem;
    margin-left: 20px;
    margin-right: 20px;
}
.top>div>span{
    color: #e50020;
    margin-left: 10px;
}
.display{
    width: 100%;
    font-size: 0.24rem;
    margin-top: 0.2rem;
    color: #666;
}
.display>span{
    display: block;
    float: right;
    margin-right: 0.1rem;
}
.active{
    color: #4960cf;
}
.my_order{
    display: block;
    width: 2.50rem;
    height: 0.6rem;
    overflow: hidden;
    background: #d7000f;
    text-align: center;
    line-height: 0.6rem;
    color: #fff;
    font-size: 0.26rem;
    text-decoration: none;
    position: fixed;
    left: 50%;
    margin-left: -1.25rem;
    bottom:3.0rem;
    border-radius: 0.15rem;
}
.order_outer{
    width: 100%;
    overflow: hidden;
    position: fixed;
    bottom:0px;
}
.order_one{
    width: 100%;
    height: 1.50rem;
    background: #fff;
    overflow: hidden;
    border-top:1px solid #b5b5b5;
    position: relative;
}
.swiper_bottom{
    margin-top:0.25rem;
    width: 4.6rem;
    overflow: hidden;
}
.dz_icon{
    width: 1.57rem;
    height: 0.42rem;
    overflow: hidden;
    color: #666;
    position: relative;
    float: right;
}
.dz_icon>img,
.dz_icon>span{
    width: 100%;
    height: 100%;
    display: block;
}
.dz_icon>span{
    position: absolute;
    width: 100%;
    line-height: 0.42rem;
    text-align: center;
    left: 0px;
    top:0px;
    font-size: 0.22rem;
}
.swiper_bottom .swiper-wrapper .swiper-slide{
    width: 1.00rem;
    height: 1.00rem;
    overflow: hidden;
    float: left;
    margin-left: 12px;
}
.swiper_bottom .swiper-wrapper .swiper-slide:nth-child(1){
    margin-left: 0px;
}
.swiper_bottom .swiper-wrapper .swiper-slide>a,
.swiper_bottom .swiper-wrapper .swiper-slide>a>img{
    display: block;
    width: 1.00rem;
    height: 100%;
    overflow: hidden;
}
.button{
    width: 0.30rem;
    height: 100%;
    position: absolute;
    top: 0px;
}
.button>img{
    display: block;
    width: 100%;
    height: 0.53rem;
    margin-top: 0.525rem;
}
.left_btn{
    left:0.40rem;
}
.right_btn{
    right:0.40rem;
}
.order_right{
    width: 1.42rem;
    height: 4.80rem;
    float: right;
    margin-top: 0.2rem;
    position: relative;
}
.order_right>div{
    float: left;
}
.order_right>div:nth-child(1){
    width:0.18rem;
    height: 1.5rem;
    border-radius: 5px 0px 0px 5px;
    margin-top: 1.75rem;
    border: 1px solid #b5b5b5;
    border-right:none;
    background: #fff;
    position: relative;
    left: 0.01rem;
}
.swiper_outer{
    width: 1.2rem;
    height: 100%;
    overflow: hidden;
    background: #fff;
    border: 1px solid #b5b5b5;
    border-right: none;
}
.swiper_right{
    width: 0.7rem;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.swiper_right .swiper-slide{
    width: 0.7rem;
    height: 0.7rem;
    overflow: hidden;
    margin-top: 0.05rem;
    margin-bottom: 0.05rem;
}
.swiper_right .swiper-slide>a,
.swiper_right .swiper-slide>img{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}
