#M039 .main {
	width: 100%;
}
#M039 .main p,
#M039 .main a,
#M039 .main span,
#M039 .main button {
	font-size: 22px;
	color: #333;
}
.main .nav {
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #D2D2D2;
}
.main .nav li {
	float: left;
	line-height: 50px;
	width: 20%;
	text-align: center;
	border-bottom: 3px solid transparent;
}
#M039 .main .nav li.select {
	border-bottom: 3px solid #FF0101;
}
#M039 .main .nav li.select a {
	color: #FF0101;
}
#M039 .main .nav li a {
	text-decoration: none;
}
#M039 .main p.top {
	height: 40px;
	line-height: 40px;
	text-align: right;
	color: #FDB860;
}
#M039 .main .box {
	background: #F2F2F2;
	padding: 20px;
	overflow: hidden;
}
#M039 .main .box img {
	float: left;
	width: 120px;
	height: 120px;
	margin-right: 20px;
}
#M039 .main .box .h4 {
	overflow: hidden;
	margin-top: 6px;
}
#M039 .main .box .h4 span {
	float: right;
}
#M039 .main .box p {
	font-size: 20px;
	line-height: 30px;
	width: 510px;
}
#M039 .main .box p.ft {
	font-size: 18px;
}
#M039 .main .box span.num {
	float: right;
	margin-top: -60px;
}
#M039 .main p.total {
	text-align: right;
	line-height: 50px;
	margin-right: 20px;
}
#M039 .main p.btn {
	text-align: right;
}
#M039 .main p.btn a {
	float: right;
	display: block;
	width: 150px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	outline: 0;
	background: #fff;
	border: 1px solid #666;
	border-radius: 5px;
	margin-right: 20px;
	color: #333;
	text-decoration: none;
}
#M039 .main p.btn a.fukuan {
	color: #d7000f;
	border: 1px solid #d7000f;
}
#M039 .main .click {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 250px;
	margin-top: -150px;
	margin-left: -250px;
	border: 1px solid #D2D2D2;
	border-radius: 10px;
	background: #fff;
}
#M039 .main .click {
	display: none;
	z-index: 120;
}
#M039 .main .click p {
	height: 175px;
	line-height: 175px;
	text-align: center;
	font-size: 30px;
	border-bottom: 1px solid #D2D2D2;
}
#M039 .main .click a {
	float: left;
	width: 249px;
	line-height: 75px;
	text-align: center;
	font-size: 30px;
	text-decoration: none;
}
#M039 .main .click a.l {
	border-right: 1px solid #D2D2D2;
}
#M039 .mengban {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 100;
	opacity: 0.4;
	display: none;
}