.header .search{
    width:550px;
    height: 62px;
    overflow: hidden;
    float: right;
    position: relative;
    margin-right: 20px;
    margin-top: 20px;
}
.header .search>input{
    display: block;
    width: 540px;
    overflow: hidden;
    height: 48px;
    border: 1px solid #ededed;
    border-radius:38px;
    text-indent: 50px;
    color: #959595;
    font-size:20px;
    margin: 0 auto;
    outline: none;
}
.header .search>img{
    top:16px;
}
.list{
    width: 100%;
    overflow: hidden;
}
.list>div{
    width: 100%;
    overflow: hidden;
    margin-top: 15px;
}
.list>div>a{
    display: block;
    width: 220px;
    height: 150px;
    float: left;
}
.list>div>a>img{
    width: 220px;
    height: 150px;
}
.list>div>div{
    float: left;
    margin-left: 10px;
    overflow: hidden;
    width: 410px;
}
.list>div>div>p,
.list>div>div>div{
    width: 410px;
    height: 70px;
}
.list>div>div>p{
    width: 400px;
    font-size: 22px;
    color: #333;
    line-height: 30px;
    padding-top: 8px;
    padding-left: 7px;
    padding-right: 5px;
}
.list>div>div>div{
    height: 62px;
    margin-top: 10px;
    overflow: hidden;
}
.list>div>div>div>p{
    font-size: 20px;
    color: #666;
    height: 22px;
    line-height: 22px;
    color: #d7000f;
}
.list>div>div>div>p:nth-child(1){
    margin-top: 10px;
    margin-left: 20px;
}
.list>div>div>div>p>i{
    font-style: normal;
    color: #666;
}
.list>div>div>div>p:nth-child(2){
    text-align: right;
    margin-right: 20px;
}